# python
__pycache__/
*.py[cod]
*$py.class
*.so

# virtual environment
venv/
env/
.venv/
.env/

# build
dist/
build/
*.egg-info/
*.egg

# jupyter
.ipynb_checkpoints/
*.ipynb

# ide
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath

# os
.DS_Store
Thumbs.db
desktop.ini

# data
# data/       
*.xlsx
*.xls
test.csv
sample_submission.csv


# large training artifacts
artifacts/preprocessing_fe/x_train_fe.joblib
artifacts/preprocessing_fe/x_train_ros.joblib
artifacts/preprocessing_fe/x_test_fe.joblib
artifacts/preprocessing_fe/x_val_fe.joblib
artifacts/preprocessing_fe/y_train_fe.joblib
artifacts/preprocessing_fe/y_train_ros.joblib
artifacts/preprocessing_fe/y_test_fe.joblib
artifacts/preprocessing_fe/y_val_fe.joblib

# preprocessing artifacts
artifacts/preprocessing/*.joblib

# logs
artifacts/logs/
*.log

# reports
artifacts/reports/*.png

# env config
.env
*.env
DL.yml

# images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
